*{
  box-sizing: border-box;
}
nav {
  background-color: blueviolet;
  color: white;
}
nav ul {
  list-style-type: none;
display: flex;
justify-content: space-around;
}
nav ul li a {
  text-decoration: none;
color:azure;
font-size: 20px;
padding: 20px;

}

